#myForm{
    background-color:peru;
}
.edit{
    padding-top: 15px;
    color: white;
    padding-left: 20px;
}
/* #survey{
    display: none;
    padding-top: 50px;
}
#edit2{
    padding-left: 110px;
    padding-top: 50px;
    background-color: khaki;
    font-weight: bold;
} */

